
<div class="row mt-2"

[ngClass]="{
  'red':inPerson.tel<=date_out
}">

  <div class="col-2" >{{inPerson.id}}</div>
  <div class="col-6">
    <form [formGroup]="editPersonForm" class="row">
      <div class="col-4">
        <span *ngIf="!editActive">{{inPerson.firstName}}</span>
        <textarea class="form-control" 
        formControlName="firstName" 
        placeholder="Текст заметки" 
        cols="30" rows="10" *ngIf="editActive"
        class="form-control"
               
        ></textarea>
      </div>
      <div class="col-4" >
        <span *ngIf="!editActive" >{{inPerson.lastName}}</span>
        <input *ngIf="editActive"
               class="form-control"
               type="date"
               formControlName="lastName"
        >
      </div>
      
      <div class="col-4">
        <span *ngIf="!editActive" >{{inPerson.tel}}</span>
        <input *ngIf="editActive"
               class="form-control"
               type="date"
               formControlName="tel"
               
        >
      </div>
    </form>
  </div>
  <div class="col-4">
    <div class="row" *ngIf="!editActive">
      <div class="col-6">
        <button class="btn"
                (click)="onEditPerson(true)"
          ><img src="../../assets/1.png" alt="" width="20px" height="20px">
        </button>
      </div>
      <div class="col-6">
        <button class="btn"
                (click)="onRemovePerson(inPerson.id)"
        >
        <img src="../../assets/2.png" alt="" width="20px" height="20px">
        </button>
      </div>
    </div>
    <div class="row" *ngIf="editActive">
      <div class="col-6">
        <button class="btn btn-success"
                (click)="onEditPerson(false)"

        >Сохранить
        </button>
      </div>
      <div class="col-6">
        <button class="btn btn-danger"
                (click)="editActive = false"
        >
          Отмена
        </button>
      </div>
    </div>
  </div>
</div>
