<form [formGroup]="addPersonForm" (ngSubmit)="onAddPerson()">
  <div class="row">
    <div class="col-12">
      <textarea name="" id=""class="form-control" formControlName="firstName" placeholder="Текст заметки" cols="30" rows="10"></textarea>
    </div>
    <div class="col-12 mt-2">

      <input type="date" class="form-control" formControlName="lastName">
    </div>
    <div class="col-12 mt-2">
      <input type="date" class="form-control" formControlName="tel">
    </div>
    <div class="col-12 mt-2">
      <button class="btn btn-primary"
              [disabled]="addPersonForm.invalid"
      >
        Сохранить
      </button>
    </div>
  </div>
</form>
