<div class="row">
  <div class="col-3">
    <input type="text" class="form-control" placeholder="Текст заметки"
           (input) = 'onFilterPersonsList()'
           [(ngModel)]="searching.firstName">
  </div>
  
</div>
